{{ partial "header.html" . }}

<main id="content">
	<h1 class="post-title">Portfolio</h1>
	
	<p>This portfolio only includes <strong>finished projects</strong>. I have a lot more code repositories available on my <a href="https://github.com/SamuelDebruyn" target="_blank">GitHub profile</a>. That profile also includes <strong>contributions</strong> I made to community driven projects.</p>
	
	{{ range .Data.Pages.GroupByParam "technology" }}
		<h2>{{ .Key | title }}</h2>
		{{ $total := len .Pages }}
		{{ range $index, $page := .Pages.ByTitle }}
	        	{{ $col := add (mod $index 3) 1 }}
				{{ if eq $col 1 }}
					<div class="section group"><!-- new row -->
						{{ .Render "li" }}
						{{ if eq (add $index 1) $total }}
							</div><!-- end of row -->
						{{ end }}
				{{ else if eq $col 2 }}
						{{ .Render "li" }}
					{{ if eq (add $index 1) $total }}
						</div><!-- end of row -->
					{{ end }}
				{{ else if eq $col 3 }}
						{{ .Render "li" }}
					</div><!-- end of row -->
				{{ end }}
	    {{ end }}
	{{end}}
	
</main>

{{ partial "footer.html" . }}